body {
  background-color: lightblue;
}

.disclaimer {
  background-color: antiquewhite;
  border: 2px solid black;
  border-radius: 15px;
  font-family: Verdana;
  font-size: small;
  margin-bottom: 50px;
  margin-left: 120px;
  margin-top: 50px;
  padding: 10px;
  width: 80%;
}

h3, h5 {
  color: black;
  font-family: 'Bitter';
  margin: 0px;
}

h4 {
  color: black;
  font-family: 'Bitter';
}

.innerbox {
  font-weight: bold;
  display: block;
  padding: 10px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 20px;
  border: 3px solid purple;
  border-radius: 15px;
  font-family: 'Droid Serif', serif;
  font-size: 14px;
  background-color: antiquewhite;
}

/*.innerbox img {
    float: right;
    margin: 0 0 10px 10px;
}*/

li {
  margin: 8px;
}

#navbar li {
    /*border: 1px solid red;*/
    height: 15px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#nodot li {
    list-style-type: none;
}

.top-banner {
  display:block;
  position:relative;
  overflow:hidden;/*keeps the image in the container*/
  height: 27vw;
}
.top-banner img{position:absolute;top:0;width:100%}


ul {
  display: flex;
  justify-content: space-around;
}
